In [4]:
import pandas as pd

In [5]:
school_data_path = "Resources/schools_complete.csv"
student_data_path = "Resources/students_complete.csv"

In [6]:
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

In [7]:
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name"])

In [8]:
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [11]:
num_of_schools = school_data_complete["school_name"].nunique()
num_of_students = school_data_complete["student_name"].count()
print(num_of_students)

39170